*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
}

.card{
  background-color: rgb(113, 22, 37);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.nav{
  background-color: rgb(48, 94, 94);
  padding: 20px;
  margin: 10px;
}